<div class="fondo">
    <app-cabecera></app-cabecera>
    <div class="titulo">
        <h1>Episodios de rick and Morty</h1>
    </div>
    <div class="mat-elevation-z8 contenedorTabla">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="air_date">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.air_date}} </td>
            </ng-container>

            <ng-container matColumnDef="episode">
                <th mat-header-cell *matHeaderCellDef> Episodio </th>
                <td mat-cell *matCellDef="let element"> {{element.episode}} </td>
            </ng-container>

            <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef> Fecha de creacion </th>
                <td mat-cell *matCellDef="let element"> {{element.created | date}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="fila" [routerLink]="['/episodios/personajes', row.id]"></tr>
        </table>

        <mat-paginator [pageSize]="totalPorPag" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent = $event" [length]="totalDatos" showFirstLastButtons="false"></mat-paginator>
    </div>
</div>