<mat-card class="registrarse">
    <mat-card-header class="titulo">
        <mat-card-title>Registrarse</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="botones" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput [formControl]="nombre" required>
            <mat-error *ngIf="nombre.invalid">{{obtenerMensajeError()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="botones" appearance="fill">
            <mat-label>Apellido</mat-label>
            <input matInput [formControl]="apellido" required>
            <mat-error *ngIf="apellido.invalid">{{obtenerMensajeError()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="botones" appearance="fill">
            <mat-label>Documento de identidad</mat-label>
            <input matInput [formControl]="doctoIdent" required>
            <mat-error *ngIf="doctoIdent.invalid">{{obtenerMensajeError()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="botones" appearance="fill">
            <mat-label>email electrónico</mat-label>
            <input matInput [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{obtenerMensajeError()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="botones" appearance="fill">
            <mat-label>Ingresa la clave</mat-label>
            <input matInput [type]="mostrar ? 'password' : 'text'" [formControl]="clave" required>
            <button mat-icon-button matSuffix (click)="mostrar = !mostrar" [attr.aria-label]="'mostrar password'" [attr.aria-pressed]="mostrar">
              <mat-icon>{{mostrar ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="clave.invalid">{{obtenerMensajeError()}}</mat-error>
        </mat-form-field>

    </mat-card-content>
    <mat-card-actions class="iniciar_sesion">
        <button mat-button (click)="registrarse()" [disabled]="formGroup.invalid" class="boton_registrar">Registrarse</button>
        <button mat-button [routerLink]="['/login']" class="boton_cancelar">Cancelar</button>
    </mat-card-actions>
</mat-card>